<!DOCTYPE html>
<html>
<head>
<head>
  <title>Brr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
</head>
<body>
<div class="navbar">

  <div class="navbar-inner">

    <a class="brand" href="#">Member Portal</a>

    <ul class="nav">

      <li class="active"><a href="#">Home</a></li>

      <li><a href="#">Edit Profile</a></li>
      <li><a href="#">Blog</a></li> 
      <li><a href="#">Forum</a></li>   
      <li><a href="#">Races</a></li>
      <li><a href="#">Volunteer</a></li>
      <li><a href="members/index">Sign Out</a></li>

    </ul>

  </div>
  
  <%= yield %>
  
</div>
</body>
</html>
