<div class="container">
  <div class="span12 centered">
    <div class="navbar">

      <div class="navbar-inner">
        <a class="brand" href="#">BRR Member Portal</a>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/members/edit">Edit Profile</a></li>
          <li><a href="/members">Member Directory</a></li>
          <li><a href="/members/blog">Blog</a></li>
          <li><a href="/members/forum">Forum</a></li>
          <li><a href="/members/races">Races</a></li>
          <li><a href="/members/volunteer">Volunteer Events</a></li>
          <li><a href="/">Sign Out</a></li>
        </ul>
      </div>
    </div>