<!DOCTYPE html>
<html>
  <head>
    <title>Boulder Road Runners</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
      <body>
        <div class="navbar navbar-fluid">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-th-list"></span>
              </a>
              <a class="brand"/>Boulder Road Runners</a>
              <div class = "nav-collapse collapse">
                <ul class="nav pull-right">

                  <li><a href="/sessions/new">Member Login</a></li>
                </ul>
               
                      
              </div>
            </div>
          </div>
        </div>   
        
        <br><br>
        
    <div class="container">
      <div class="hero-unit">
        <div align="middle">
          <img src="/images/brrlogo.png" alt="Boulder Road Runners logo" />
          <br>
          <br>
          <p class="text-center"><p class="lead">The Boulder Road Runners encourage and promote running and running-related 
          activities for people of all ages and abilities, from the casual recreational 
          runner to the serious competitor.</p></p>
        </div>
      </div>
    </body>