<div align="middle">

<%= render "navbar" %>

<br>
<br>

<div class="row-fluid">
<div class="span12">  

<h1>Member Directory</h1>

<% @members.each do |member| %>
  <li><%= member.first_name %> <%= member.last_name %> - <%= member.email %>
<% end %>
/div>
</div>

</div>