<div align="middle">

<%= render "navbar" %>
<br>
<br>

<h1>Welcome, <%= @member.first_name %>!</h1>

<% if @member.errors.any? %>
 <div id="error_explanation">
  <h2><%= pluralize(@member.errors.count, "error") %> prohibited this from being saved: </h2>

  <ul>
  <% @member.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %> 
 <br>
  <div class="row-fluid">
    <div class="span4">
    <div class="show-page-padding">
    <h3 class="text-left">Latest Blog Posts</h3>
    <br>
    <h4 class="text-left">Mary Smith Sets Race Record</h4>
    <p class="text-left"><strong>Posted by: Roger Sterling</strong></p>
    <p class="text-left">Bob and Mary Smith have been running ultra
races since 2000, when they ran the Sunmart 50k in
Huntsville State Park near Houston, Texas. They didn’t
make the cutoff that year, so they returned the next
year and succeeded. They have tackled a number of
ultras, including the Leadville Trail Marathon, where
they managed to run 50 miles. They are known for
“doubling” at Pike’s Peak, running the Ascent on
Saturday and the marathon on Sunday.</p>
<br>
    <h4 class="text-left">Bob Jones Recovers from Injury</h4>
    <p class="text-left"><strong>Posted by: Bert Cooper</strong></p>
    <p class="text-left">Bob and Mary Smith have been running ultra
races since 2000, when they ran the Sunmart 50k in
Huntsville State Park near Houston, Texas. They didn’t
make the cutoff that year, so they returned the next
year and succeeded. They have tackled a number of
ultras, including the Leadville Trail Marathon, where
they managed to run 50 miles. They are known for
“doubling” at Pike’s Peak, running the Ascent on
Saturday and the marathon on Sunday.</p>
    </div>
    </div>
    
    <div class="span4">
    <div class="show-page-padding">
    <h3 class="text-left">Member Summary</h3>
    <br>
    <h4 class="text-left">You have 10 volunteer points.</h4>
    <br>
    <h4 class="text-left">Upcoming Volunteer Event</h4>
    <p class="text-left">Boulder Boulder Setup and Teardown: May 30, 2013</p>
    <br>
    <h4 class="text-left">Upcoming Race</h4>
    <p class="text-left">Freedom Run 5K: July 4, 2013</p>
    <br>
    <h4 class="text-left">Latest Race Result</h4>
    <p class="text-left">Mike the Headless Chicken 5K Run: July 4, 2013</p>
    </div>
    </div>

    <div class="span4">
    <div class="show-page-padding">
    <h3 class="text-left">Latest Forum Posts</h3>
    <br>
    <h4 class="text-left">Volunteers Needed!</h4>
    <p class="text-left"><strong>Posted by: Peggy Olson</strong></p>
    <p class="text-left">We are in desperate need for volunteers for
    the Bolder Boulder! Please let Peggy know if you can help out!</p>
    <br>
    <h4 class="text-left">Looking for Training Buddy</h4>
    <p class="text-left"><strong>Posted by: Don Draper</strong></p>
    <p class="text-left">I'm looking for someone to run with me on 
    Thursday evenings in the Westminster area. I plan to run the Marine Corps
    Marathon in October and need someone to help motivate me!</p>
    <br>
    <h4 class="text-left">Suggestions for New Shoes?</h4>
    <p class="text-left"><strong>Posted by: Ted Chaough</strong></p>
    <p class="text-left">I'm new to Boulder and BRR and am wondering where
    is the best place in town to buy a new pair of running shoes? Thanks!</p>
    <br>
    <h4 class="text-left">Beware of Coyotes</h4>
    <p class="text-left"><strong>Posted by: Pete Campbell</strong></p>
    <p class="text-left">I was running on Boulder Creek Path last night 
    and was chased by a coyote! Beware if you run in this area!!</p>
    </div>
    </div>
  </div>

</div>
